/* 
Author : Hieu Nguuyen 
Date : Nov 12, 2021
File name: style.css
*/
body,header, nav, main, footer, h1, div, img, ul {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #000;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000;
    /* height: 190px; */
}

header .logo{
    text-align: center;
}    
header img {
    margin : 0 auto;
}

nav {
    padding: 1%;
    margin-bottom: 1%;

}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
}

.tel-link {
    background-color: #040404;
    padding: 2%;
    margin : 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    font-size: 1.75rem;
    border-top: 1px solid #fff
}

nav li:first-child {
    border: none;
}

nav li a {
    display: block;
    color: #fff;
    /* text-align: center; */
    padding: 0 0.5em 1em;
    text-decoration: none;
}

#hero {
    display: inline-block;
    width: 100%;
}

#hero > img {
    width: 100%;

}

footer  p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a{
    color: #fff;
    text-decoration: none;
    
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

.txt {
    text-align: center;
    margin: 10px 0;
}

.heading2 {
    margin: 0 29%;
    display: inline-block;
}

.map {
    text-align: center;
    padding: 2%;
}

iframe {
    width: 100%;
}

.tablet-desktop {
    display: none;
}

/* style rule for mobile viewport */

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px) {
    
}